body {
  font-family: 'Noto Sans Japanese';
  -webkit-font-smoothing: antialiased;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}